.jumbotron {
    background-color: #800000;
    height: 250px;
}

.nav-link {
    color: white;
    margin: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}
a, a:hover {
    color: rgb(241, 65, 65);
    text-decoration: none;
  }